<template th:fragment="html(title)" >
<!--    <base href="./">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="apple-touch-icon" sizes="57x57" href="myStatic/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="myStatic/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="myStatic/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="myStatic/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="myStatic/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="myStatic/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="myStatic/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="myStatic/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="myStatic/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="myStatic/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myStatic/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="myStatic/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myStatic/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="myStatic/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <link href="myStatic/css/style.css" rel="stylesheet">
    <link href="myStatic/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
    <link href="myStatic/vendors/toastr/toastr.min.css" rel="stylesheet">
    <!-- <link href="vendors/bootstrap/bootstrap.min.css" rel="stylesheet"> -->

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
        function checkEmpty(value,text){

            if(null==value || value.length==0){
                alert(text+ "不能为空");
                return false;
            }
            return true;
        }
        function checkDeleteLink(){
            var confirmDelete = confirm("确认要删除");
            if(confirmDelete)
                return true;
            return false;
        }
    </script>
    <script src="myStatic/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="myStatic/vendors/@coreui/icons/js/svgxuse.min.js"></script>
    <script src="myStatic/vendors/moment/moment.min.js"></script>
    <script src="myStatic/vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="myStatic/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="myStatic/vendors/vue/vue.js"></script>
    <script src="myStatic/vendors/axious/axios.min.js"></script>
    <script src="myStatic/vendors/lodash/lodash.min.js"></script>
    <script src="myStatic/vendors/toastr/toastr.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title th:text="${title}" ></title>
</template>