<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/test/testHeader::html('测试')" ></head>


<body>
<!--<div th:replace="include/admin/adminNavigator::html" ></div>-->

<div class="c-wrapper c-fixed-components">
    <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
        <ul class="c-header-nav d-md-down-none">
            <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Dashboard</a></li>
            <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Users</a></li>
            <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Settings</a></li>
        </ul>
        <ul class="c-header-nav ml-auto mr-4">
            <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
                <svg class="c-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                </svg>
            </a></li>
            <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
                <svg class="c-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
                </svg>
            </a></li>
            <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
                <svg class="c-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                </svg>
            </a></li>
            <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#"
                                                      role="button" aria-haspopup="true" aria-expanded="false">
                <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/6.jpg" alt="user@email.com">
                </div>
            </a>
                <div class="dropdown-menu dropdown-menu-right pt-0">
                    <div class="dropdown-header bg-light py-2"><strong>Account</strong></div>
                    <a class="dropdown-item" href="#">
                        <svg class="c-icon mr-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                        </svg>
                        Updates<span class="badge badge-info ml-auto">42</span></a><a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                    </svg>
                    Messages<span class="badge badge-success ml-auto">42</span></a><a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-task"></use>
                    </svg>
                    Tasks<span class="badge badge-danger ml-auto">42</span></a><a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                    </svg>
                    Comments<span class="badge badge-warning ml-auto">42</span></a>
                    <div class="dropdown-header bg-light py-2"><strong>Settings</strong></div>
                    <a class="dropdown-item" href="#">
                        <svg class="c-icon mr-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                        </svg>
                        Profile</a><a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                    </svg>
                    Settings</a><a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-credit-card"></use>
                    </svg>
                    Payments<span class="badge badge-secondary ml-auto">42</span></a><a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-file"></use>
                    </svg>
                    Projects<span class="badge badge-primary ml-auto">42</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <svg class="c-icon mr-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                        </svg>
                        Lock Account</a><a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                    </svg>
                    Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <div class="card">
                        <div class="card-header">
                            <h3>用户管理系统</h3>
                        </div>
                        <div class="card-body">
                            <div class="card" id="items-manager">
                                <div class="card-header">
                                    <i class="c-icon cil-applications"></i> <span class="lead">用户列表</span>
                                    <div class="card-header-actions">
                                        <a class="btn btn-ghost-info" href="demo02.html">
                                            <i class="c-icon cil-user-female"  ></i>&nbsp;角色管理
                                        </a>

                                        <a class="btn btn-ghost-info" @click="edit(null)">
                                            <i class="c-icon cil-playlist-add"  ></i>&nbsp;新增
                                        </a>
                                        <a class="btn btn-ghost-danger" @click="removeAll">
                                            <i class="c-icon cil-trash"></i>&nbsp;删除
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive-sm table-bordered table-striped table-sm text-center">
                                        <thead>
                                        <tr>
                                            <th style="width: 10px">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox"
                                                           data-action="do-check-all" name="checkAll" id="checkAll">
                                                    <label class="form-check-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th>编号</th>
                                            <th>用户名</th>
                                            <th>密码</th>
                                            <th>状态</th>
                                            <th>描述</th>
                                            <th>创建时间</th>
                                            <th>修改时间</th>
                                            <th>角色</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in pageItems" v-if="item !== null" >
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox"
                                                           v-model="item.selected" v-bind:name="'item-' + item.index">
                                                    <label class="form-check-label"
                                                           v-bind:for="'item-' + item.index"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    {{ item.index }}
                                                    <label class="form-check-label"
                                                           v-bind:for="'item-' + item.index"></label>
                                                </div>
                                            </td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.passWord}}</td>
                                            <td>
                                                <!-- FIXIT 无效转有效有问题 -->
                                                <span v-if="!item.deleted" class="badge badge-danger">无效</span>
                                                <span v-else class="badge badge-success ">有效</span></td>
                                            <td>{{item.description}}</td>
                                            <td>{{ item.createTime}}</td>
                                            <td>{{ item.updateTime}}</td>
                                            <td>
                                                <a class="btn btn-ghost-info" @click="lookRole(item.id)">
                                                    <i class="c-icon cil-user"  ></i>&nbsp;查看角色
                                                </a>
                                            <td>
                                                <a class="btn btn-outline-success btn-sm" v-on:click="details(item)">
                                                    <i class="c-icon cil-description"></i>
                                                </a>&nbsp;
                                                <a class="btn btn-outline-info btn-sm" v-on:click="edit(item)">
                                                    <i class="c-icon cil-pencil"></i>
                                                </a>&nbsp;
                                                <a class="btn btn-outline-danger btn-sm" v-on:click="remove(item)">
                                                    <i class="c-icon cil-x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- 详情模态框-->
                                    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-success modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">详细信息</h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="form-group row">
                                                            <label
                                                                    class="col-sm-3 col-form-label">用户ID</label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" v-model="detailItem.id" readonly
                                                                       placeholder="用户ID"
                                                                       style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;">
                                                            </div>
                                                        </div><!--用户ID-->
                                                        <div class="form-group row">
                                                            <label
                                                                    class="col-sm-3 col-form-label">用户名</label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" v-model="detailItem.name" readonly
                                                                       placeholder="用户名"
                                                                       style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;">
                                                            </div>
                                                        </div><!--用户名-->
                                                        <div class="form-group row">
                                                            <label for="password"
                                                                   class="col-sm-3 col-form-label">密码</label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="text" id="detailItem-password"
                                                                       style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;" readonly
                                                                       v-model="detailItem.passWord"
                                                                       placeholder="密码"  >
                                                            </div>
                                                        </div><!--密码-->
                                                        <div class="form-group row">
                                                            <label for="status-active"
                                                                   class="col-sm-3 col-form-label">状态</label>
                                                            <div class="col-sm-9">
                                                                <span v-if="!detailItem.deleted" class="badge badge-danger">无效</span>
                                                                <span v-else class="badge badge-success ">有效</span>
                                                            </div>
                                                        </div><!--状态-->
                                                        <div class="form-group row">
                                                            <label for="description"
                                                                   class="col-sm-3 col-form-label">描述</label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="text" id="detailItem-description" readonly
                                                                       style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;"
                                                                       placeholder="描述"
                                                                       v-model="detailItem.description">
                                                            </div>
                                                        </div><!--描述-->
                                                        <div class="form-group row">
                                                            <label for="createTime" class="col-sm-3 col-form-label">创建时间</label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="text"
                                                                       style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;" readonly placeholder="日期时间"
                                                                       id="detailItem-createTime"
                                                                       v-model="detailItem.createTime" >
                                                            </div>
                                                        </div><!--创建时间-->
                                                        <div class="form-group row">
                                                            <label for="updateTime" class="col-sm-3 col-form-label">更新时间</label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="text"
                                                                       style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;" readonly
                                                                       id="detailItem-updateTime"
                                                                       v-model="detailItem.updateTime"
                                                                       placeholder="日期时间">
                                                            </div>
                                                        </div><!--更新时间-->

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success" type="button" data-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content-->
                                        </div>
                                        <!-- /.modal-dialog-->
                                    </div>
                                    <!-- 编辑模态框-->
                                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-info modal-lg" role="document" id="item-modal"> <!--ok-->
                                            <div class="modal-content">
                                                <form class="needs-validation" id="item-form" novalidate>
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">添加/修改</h4>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body"><!--编辑模态框内容-->
                                                        <div class="container-fluid">
                                                            <div class="form-group row">
                                                                <label
                                                                        class="col-sm-3 col-form-label">用户名</label>
                                                                <div class="col-sm-9">
                                                                    <input v-model="formItem.name" required
                                                                           pattern="^([-a-zA-Z0-9_\u4e00-\u9fa5]{2,16})$">
                                                                    <small class="form-text text-muted">
                                                                        文本值规则：必须以英文字母或中文字符开头，2~16个字符（中文、字母、数字、_或-）
                                                                    </small>
                                                                    <div class="invalid-feedback">
                                                                        文本值不符合规则
                                                                    </div>
                                                                </div>
                                                            </div><!--用户名-->
                                                            <div class="form-group row">
                                                                <label for="password"
                                                                       class="col-sm-3 col-form-label">密码</label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text" id="password" required pattern="^[1-9]\d*|0$"
                                                                           v-model="formItem.passWord"
                                                                           placeholder="数值数据"  >  <!--required   maxlength="6"-->
                                                                    <div class="invalid-feedback">
                                                                        请输入非负整数（必填）
                                                                    </div>
                                                                </div>
                                                            </div><!--密码-->
                                                            <div class="form-group row">
                                                                <label for="status-active"
                                                                       class="col-sm-3 col-form-label">状态</label>
                                                                <div class="col-sm-9">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio"
                                                                               v-model="formItem.deleted"
                                                                               name="inlineRadioOptions"
                                                                               id="status-active" :value="true">
                                                                        <label class="form-check-label"
                                                                               for="status-active">有效</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio"
                                                                               v-model="formItem.deleted"
                                                                               name="inlineRadioOptions"
                                                                               id="status-forbidden" :value="false">
                                                                        <label class="form-check-label"
                                                                               for="status-forbidden">无效</label>
                                                                    </div>
                                                                </div>
                                                            </div><!--状态-->
                                                            <div class="form-group row">
                                                                <label for="description"
                                                                       class="col-sm-3 col-form-label">描述</label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text" id="description"
                                                                           v-model="formItem.description"
                                                                           placeholder="数值数据"  >  <!--required pattern="^[1-9]\d*|0$"  maxlength="6"-->
                                                                    <div class="invalid-feedback">
                                                                        请输入非负整数（必填）
                                                                    </div>
                                                                </div>
                                                            </div><!--描述-->
                                                            <div class="form-group row">
                                                                <label for="createTime" class="col-sm-3 col-form-label">创建时间</label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text"
                                                                           style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;"
                                                                           id="createTime"
                                                                           v-model="formItem.createTime" disabled
                                                                           placeholder="日期时间">
                                                                </div>
                                                            </div><!--创建时间-->
                                                            <div class="form-group row">
                                                                <label for="updateTime" class="col-sm-3 col-form-label">更新时间</label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text"
                                                                           style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;"
                                                                           id="updateTime"
                                                                           v-model="formItem.updateTime"
                                                                           placeholder="日期时间">
                                                                </div>
                                                            </div><!--更新时间-->
                                                            <div class="form-group row">
                                                                <label for="role"
                                                                       class="col-sm-3 col-form-label">级别</label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text" id="role" disabled
                                                                           style="color:#333333;background: white;opacity: 1;-webkit-text-fill-color: #333333;border:0px;"
                                                                           v-model="formItem.role"
                                                                           placeholder="待分配"  >

                                                                </div>

                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" @click="saveItem()">
                                                                保存
                                                            </button>
                                                            <button type="button" data-dismiss="modal"
                                                                    class="btn btn-secondary">
                                                                取消
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>   <!--novalidate表示让浏览器本身不校验表单-->
                                            </div>
                                            <!-- /.modal-content-->
                                        </div>
                                    </div>
                                    <!-- 删除模态框-->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-danger" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">危险</h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>记录删除后将无法恢复！确定要删除吗？</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                            v-on:click="removeItems">
                                                        确定
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        取消
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content-->
                                        </div>
                                        <!-- /.modal-dialog-->
                                    </div>
                                    <!--查看角色-->
                                    <div class="modal fade" id="lookRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-success modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">角色信息</h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card-header-actions">
                                                        <a class="btn btn-ghost-info" @click="addUserRole(userID)">
                                                            <i class="c-icon cil-playlist-add"  ></i>&nbsp;新增
                                                        </a>
                                                    </div>
                                                    <table class="table table-responsive-sm table-bordered table-striped table-sm text-center">
                                                        <thead>
                                                        <tr>
                                                            <th>角色ID</th>
                                                            <th>角色名</th>
                                                            <th>角色名</th>
                                                            <th>状态</th>
                                                            <th>操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="item in userRoles" v-if="item !== null" >
                                                            <td>{{item.roleId}}</td>
                                                            <td>{{item.name}}</td>
                                                            <td>{{item.nameZh}}</td>
                                                            <td>
                                                                <span v-if="!item.deleted" class="badge badge-danger">无效</span>
                                                                <span v-else class="badge badge-success ">有效</span></td>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-outline-danger btn-sm" v-on:click="removeRole(item.id)">
                                                                    <i class="c-icon cil-x"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success" type="button" data-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--添加角色-->
                                    <div class="modal fade" id="addUserRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-info modal-lg" role="document" id="UserRole"> <!--ok-->
                                            <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">用户添加角色</h4>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-md-9 col-form-label" v-for="ur in roleList" >
                                                            <div class="form-check form-check-inline mr-1" :id="2+step(ur.id)"   >
                                                                <input class="form-check-input" name="roleCheck" :id="step(ur.id)" type="checkbox" :value="stepValue(ur.id)"  >
                                                                <label class="form-check-label" :for="step(ur.id)" >{{ur.nameZh}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" @click="toAddUserRole(userID)">
                                                                保存
                                                            </button>
                                                            <button type="button" data-dismiss="modal"
                                                                    class="btn btn-secondary">
                                                                取消
                                                            </button>
                                                        </div>
                                                    </div>
                                            </div>
                                            <!-- /.modal-content-->
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-2 col-sm-6">
                                            <div class="form-group form-inline">
                                                显示&nbsp;
                                                <select class="custom-select" v-model="clientSize"  >
                                                    <option :value="5">
                                                        5
                                                    </option>
                                                    <option :value="10">
                                                        10
                                                    </option>
                                                    <option :value="20">
                                                        20
                                                    </option>
                                                    <option :value="50">
                                                        50
                                                    </option>
                                                    <option :value="100">
                                                        100
                                                    </option>
                                                </select>
                                                &nbsp;项/页
                                            </div>
                                        </div> <!--左边的数量选择-->
                                        <div class="col-auto">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li class="page-item" v-for="link in pageLinks"
                                                        v-bind:class="link==(offset/clientSize)+1 ? 'active' : ''">
                                                        <a v-if="link!='...'" class="page-link"
                                                           v-on:click="offset = clientSize*(link-1)">
                                                            {{ link }}</a>
                                                        <a v-else="" class="page-link">
                                                            {{ link }} </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div> <!--右边的页码-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="c-footer">
            <div><a href="http://www.gzcc.cn">GCC</a> © 2020 HeWenhai.</div>
            <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
        </footer>
    </div>
</div>






<script>
  var items = [ ];
  var userRoles = [ ];
  var roleList = [];
  var item = {
      index: -1,
      selected: false,
      id: -1,
      name:"xxx",
      passWord: 1234,
      deleted: true,
      role:null,
      description: "spring boot",
      createTime: moment().format("YYYY-MM-DD HH:mm:ss"),
      updateTime: moment().format("YYYY-MM-DD HH:mm:ss")//moment().format("YYYY-MM-DD HH:mm:ss")
  }; //空表，用于新增功能 在createItem()

  var app = new Vue({
      el: '#items-manager',
      data: {
          userRoles:userRoles,
          items: items,
          formItem: {},  //编辑功能，空表单，或编辑表单
          item: item,  //空表，用于新增功能 在createItem()
          detailItem: {},
          editItem: {},
          offset: 0,  //第几条数据
          clientSize: 5, //显示数量
          serverSize: 10,    //服务器取数量
          totalCount: 0,     //总数据数量
          deleteItems: null,
          deleteUser: null,
          deletedRole:null,
          roleID:2,
          userID:null,
          whereRole:null,
          roleList:roleList,
          userNames:null
      },
      methods: {
          details: function (item) {
              this.detailItem = item;
              $('#detailsModal').modal('show');
          },
          edit: function (item) {
              app.whereRole = null;
              if (item === null) {//新增功能
                  item = this.createItem();
              }
              item.updateTime=moment().format("YYYY-MM-DD HH:mm:ss");
              this.formItem = JSON.parse(JSON.stringify(item));//老师代码
              $('.needs-validation').removeClass('was-validated');//给form标签删除【was-validated】元素，告诉浏览器不显示校验结果
              $('#editModal').modal('show');
          },  //编辑功能
          lookRole:function(id){
              app.userID=id;
              app.whereRole = 1;
              axios.get("api/users/userRole",{
                  params: { 'id': id }})
                  .then(function (response) {
                      if (response.status===200){
                          app.userRoles = response.data.items;
                          app.userRoleIndex(); //对对象的角色获取索引 app.userRoles
                          console.log(response);
                          toastr.success("获取角色成功！")
                      }else {
                          toastr.error("获取角色失败！")
                      }

                  })
                  .catch(function (error) {
                      console.log(error);
                  });//获取当前用户的所有角色
              $('#lookRoleModal').modal('show');
          },
          remove: function (item) {
              this.deleteItems = item;
              $('#deleteModal').modal('show');
          },
          removeAll:function(){
              var deletes = _.filter(this.items, function (item) {
                  return item.selected;
              });//得到一个数组

              if (deletes.length > 0) {//如果数据长度大于0.就赋值给deleteItems
                  app.deleteItems = deletes; //deleteItems可能为数组，可能为单个
                  $("#deleteModal").modal("show");
              } else {
                  toastr.warning("未选取需要删除的元素！");
              }
          },
          removeItems:function () {
              var data = [];
              if (app.deleteItems instanceof  Array){//判断deleteItems是否为数组，即删除多个
                  //为数组，删除多个
                  //读取出数组中每个 index->data
                  _.reverse(app.deleteItems); //反转   第一个变最后一个 第二个变倒数第二个

                  _.forEach(app.deleteItems,function (item) {
                      data.push(item.id);
                  });
              }else {
                  data.push(app.deleteItems.id)
              }
              var id = data.toString();
              axios.delete("api/users/"+data)
                  .then(function (response) {
                      if (response.status===204){
                          if (app.deleteItems instanceof Array){//删除多个
                              _.forEach(app.deleteItems,function (item) {
                                  app.items.splice(item.index,1);
                                  app.totalCount=app.totalCount-1;
                              });
                              app.deleteItems = null;
                          }else {//单个删除
                              app.items.splice(app.deleteItems.index,1);
                              app.totalCount=app.totalCount-1;
                          }
                          app.regenerateIndex();
                          toastr.success("删除成功！");
                      }else {
                          toastr.error("删除出错！");
                      }
                  })
                  .catch(function (error) {
                      toastr.error(error,'错误');
                      console.log(error);
                  });
          },
          removeRole:function(id){
              var index=_.findIndex(app.userRoles, function(o) { return o.id ===id; });
              axios.delete("api/users/userRole/"+id)
                  .then(function (response) {
                      if (response.status===204){
                          app.userRoles.splice(test,1);
                          app.userRoleIndex();
                          toastr.success("删除成功！");
                      }else {
                          toastr.error("删除出错！");
                      }
                  })
                  .catch(function (error) {
                      toastr.error(error,'错误');
                      console.log(error);
                  });
          },
          validateForm: function validateForm() {
              var form = $("#item-form").get(0);
              var validated = form.checkValidity();
              //给form标签添加【was-validated】元素，告诉浏览器显示校验结果
              form.classList.add("was-validated");
              return validated; //返回表单校验布尔值
          },
          checkName:function checkName(name){
              for (var i=0;i<app.userNames.length;i++){
                  if (app.userNames[i]===name){
                      return false;
                  }
              }
          },
          saveItem: function () {

              var index = _.indexOf(app.items,app.formItem);
              var validated = this.validateForm();
              if (validated === false) {//校验不通过，显示错误信息
                  event.preventDefault();
                  event.stopPropagation();
                  toastr.warning("请正确填写！");
              } else {
                  if (app.formItem.id === -1) {    //新增
                      if (this.checkName(app.formItem.name)===false){
                          toastr.error("用户名重复");
                          $('#editModal').modal('hide');
                          return;
                      }
                      axios.post("api/users", this.formItem)
                          .then(function (response) {
                              if (response.status===201){
                                  app.items.push(response.data);
                                  app.totalCount=app.totalCount+1;
                                  app.userNames.push(response.data.name);
                                  app.regenerateIndex();
                                  toastr.success("添加成功！");
                                  console.log(response);
                              }else {
                                  toastr.error("添加失败！");
                              }
                          })
                          .catch(function (error) {
                              toastr.error(error,"添加失败！");
                              console.log(error);
                          });
                  }else {
                      //更新
                      axios.put("api/users", this.formItem)
                          .then(function (response) {
                              if (response.status===201){
                                  Vue.set(app.items, app.formItem.index, app.formItem);
                                  app.userNames.push(response.data.name);
                                  toastr.success("修改成功！");
                                  console.log(response);
                              }else {
                                  toastr.error("修改失败！");
                              }
                          })
                          .catch(function (error) {
                              toastr.error(error,'错误');
                              console.log(error);
                          });
                  }
                  $('#editModal').modal('hide');
              }
          },
          createItem: function createItem() {
              item.createTime=moment().format("YYYY-MM-DD HH:mm:ss");
              return JSON.parse(JSON.stringify(item));
          },
          regenerateIndex: function regenerateIndex() {
              _.forEach(this.items, function (item, index) {
                  if (item) {
                      item.index = test;
                      item.selected = false;
                  }
              });
          },
          userRoleIndex: function userRoleIndex() {
              _.forEach(this.userRoles, function (item, index) {
                  if (item) {
                      item.index = test;
                  }
              });
          },   //对待分配数据进行索引
          addUserRole:function (userID) {
              _.forEach(app.roleList,function (value) {
                  $("#2step"+value.id).show();//显示
                  $(":checkbox[id='step"+value.id+"']").prop("checked",false);//复位checkbox，设置为空
              });
              var idList=[];
              _.forEach(app.userRoles,function (value) {
                  idList.push(value.roleId);
              });
              _.forEach(idList,function (value) {
                  $("#2step"+value).hide();//隐藏
                  $("#step"+value).checked  = false;
              });
              $('#lookRoleModal').modal('hide');
              $('#addUserRoleModal').modal('show');

          },
          toAddUserRole:function (userID) {
              var checkName = document.getElementsByName("roleCheck");
              var selectRoles = [];
              for(var k in checkName){
                  if(checkName[k].checked)
                      selectRoles.push(checkName[k].value);
              }
              console.log(selectRoles);
              axios.get("api/users/userRole/insert",{
                  params: { 'userID': userID,
                  'roleId':selectRoles+''}
              })
                  .then(function (response) {
                      // app.userRoles.splice(app.deleteUser.index,1);
                      if (response.status===201){
                          $('#addUserRoleModal').modal('hide');
                          toastr.success("添加成功！");
                      }else {
                          toastr.error("添加出错！");
                      }
                  })
                  .catch(function (error) {
                      toastr.error(error,'错误');
                      console.log(error);
                  });
          },
          step:function(i){
              return "step" +i
          },  //动态绑定id
          stepValue:function(i){
              return i
          }  //动态绑定value

      },
      computed: {
          pageItems: function pageItems() {//返回要输出的开头索引，结束索引
              var startIndex = this.offset;   //从哪里开始
              var endIndex = startIndex + this.clientSize - 1;  //从哪里结束
              if (1) {//不搜索 进行显示全数据
                  return this.items.filter(function (value, index) {
                      return test >= startIndex && test <= endIndex;
                  });
              }
          },
          pageLinks: function () {
              var links = [1];
              var i = 2;
              var total = Math.ceil(this.totalCount / this.clientSize); //默认总页数

              total = Math.ceil(this.totalCount / this.clientSize); //没搜索总页数

              if (total <= 6) {//判断是否展开，或者总页数小于6 就全部显示
                  for (i = 2; i <= total; i++) {
                      links.push(i);
                  }
              } else {
                  var start = this.offset / this.clientSize - 2;
                  var end = this.offset / this.clientSize + 3 >= total ? total - 1 : this.offset / this.clientSize + 2;
                  if (start > 2) {
                      for (i = start; i <= end; i++) {
                          links.push(i);
                      }
                  } else {
                      for (i = 2; i <= 6; i++) {
                          links.push(i);
                      }
                  }
                  if (this.offset / this.clientSize > 4) {
                      links.splice(1, 0, "...");
                  }
                  if (this.offset / this.clientSize + 3 < total) {
                      links.splice(8, 0, "...");
                  }
                  links.push(total);
              }
              return links;
          }

      },
      watch: {
          offset: function (newValue, oldValue) {
              if (newValue >= app.items.length || app.items[app.offset] == null) {    //新数据是否大于原数据长度，是否为空
                  var serviceUrl = 'api/users?offset=' + app.offset + '&size=' + app.serverSize;
                  axios.get(serviceUrl)
                      .then(function (response) {
                          //把取回来的数据填充到app.items数组中去
                          var i = 0;
                          var newItems = response.data.items;
                          //判断是否需要填充空元素
                          if (newValue > app.items.length) {
                              for (i = app.items.length; i < app.offset; i++) {
                                  app.items.push(null);
                              }
                          }
                          for (i = 0; i < newItems.length; i++) {
                              app.items.splice(app.offset + i, 1, newItems[i]);
                          }
                          app.regenerateIndex();
                          return;
                      })
                      .catch(function (error) {
                          console.log(error);
                      });
              }
          }
      }

  });

  var serviceUrl = 'api/users?offset=' + app.offset + '&size=' + app.serverSize;
  axios.get(serviceUrl)
      .then(function (response) {
          if (response.status===200){
              app.items = response.data.items;
              app.totalCount = response.data.totalCount;
              app.regenerateIndex();
              console.log(response);
              toastr.success("欢迎！");
          }else {
              toastr.error("获取User出错！");
          }
      })
      .catch(function (error) {
          console.log(error);
      });//获取全数据
  axios.get('api/roles/getAllRoleNameId')
      .then(function (response) {
          app.roleList=response.data;
          console.log(response);
      })
      .catch(function (error) {
          console.log(error);
      });
  axios.get("api/users/checkName")
      .then(function (response) {
          if (response.status===200){
              app.userNames=response.data;
              console.log(response);
          }else {
              toastr.error("错误！");
          }
      })
      .catch(function (error) {
          toastr.error(error,'错误');
          console.log(error);
      });


</script>


</body>
</html>