<div th:fragment="html">
    <script>
        $(function(){
            var pid = getUrlParms("pid");
            var data4Vue = {
                uri:'foreProduct',
                p:'',
                category:null,
                firstProductImage:null,
                pvs:[],
                reviews:[],
                showDetail:true,
                showReview:false,
                user:{name:'', password:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    linkDefaultActions();//header里面的公共函数
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"/"+pid;
                        axios.get(url).then(function(response) {
                            var result = response.data;
                            vue.p=result.data.product;
                            vue.pvs=result.data.pvs;
                            vue.reviews=result.data.reviews;
                            vue.firstProductImage = vue.p.firstProductImage;

                            vue.category = vue.p.category;//产品类型对象，无开发此功能
                            vue.$nextTick(function(){
                                imgAndInfoPageRegisterListeners(vue);
                            })
                        });

                    },
                    toggle2Detail:function(){
                        this.showDetail=true;
                        this.showReview=false;
                    },
                    toggle2Review:function(){
                        this.showDetail=false;
                        this.showReview=true;
                    }
                }
            });


        });
    </script>

    <title>天下第一{{p.name}}</title>
    <div class="categoryPictureInProductPageDiv">
        <img v-if="category!=null" class="categoryPictureInProductPage" :src="'img/category/'+category.id+'.jpg'"><!--无此图片，不开发产品类型图片-->
    </div>
    <div class="productPageDiv">
        <div th:replace="include/homePage/product/imgAndInfo::html" ></div><!--商品主体信息，包裹商品单个图片，商品价格，立即购买，加入购物车-->
        <div th:replace="include/homePage/product/productReview::html" ></div><!--显示商品评价信息-->
        <div th:replace="include/homePage/product/productDetail::html" ></div><!--显示商品属性和商品详情图片-->
    </div>
</div>
