<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.computershop.mapper.ProductTypeMapper">

  <resultMap type="productType" id="ProductTypeResult">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="delete" column="is_delete"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <select id="list" resultMap="ProductTypeResult">
    SELECT * FROM pro_type_info  WHERE is_delete=0 LIMIT #{offset},#{size}
  </select>
    <select id="listAll" resultMap="ProductTypeResult">
    SELECT * FROM pro_type_info  WHERE is_delete=0
  </select>

  <select id="listCount" resultType="int">
    SELECT COUNT(*)   FROM pro_type_info WHERE is_delete=0
  </select>

  <insert id="insert" parameterType="productType" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pro_type_info(name,is_delete,create_time,update_time)
        VALUES(#{name},#{isDelete},#{createTime},#{updateTime})
    </insert>

  <update id="update" parameterType="productType">
        update pro_type_info
        set
        name=#{name},is_delete=#{isDelete},update_time=#{updateTime}
        where id=#{id}
    </update>

    <update id="deleteUpdate" parameterType="productType">
        update pro_type_info
        set
        is_delete=true
        where id=#{id}
    </update>

    <select id="findByOne"  resultMap="ProductTypeResult">
    SELECT *   FROM pro_type_info WHERE  id=#{tid}
  </select>

</mapper>

