<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.computershop.mapper.UserMapper">

    <resultMap type="user" id="UserResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="img_url" column="img_url"/>
        <result property="sex" column="sex"/>
        <result property="salt" column="salt"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delete" column="is_delete"/>
    </resultMap>

    <select id="listUser" resultMap="UserResult">
    SELECT * FROM user_info   LIMIT #{offset},#{size}
  </select>

    <select id="listCount" resultType="int">
    SELECT COUNT(*)   FROM user_info
  </select>

    <select id="finByOne" parameterType="int" resultMap="UserResult">
    SELECT * FROM user_info   where id=#{user_id}
  </select>

    <select id="findByName" parameterType="string" resultMap="UserResult">
    SELECT * FROM user_info   where name=#{name}
  </select>

    <insert id="add" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info(name,password,img_url,sex,salt,create_time,update_time,is_delete)
        VALUES(#{name},#{password},#{img_url},#{sex},#{salt},#{createTime},#{updateTime},#{isDelete})
    </insert>
    <select id="getByNameAndPassword" resultMap="UserResult">
    SELECT * FROM user_info  WHERE name=#{name} and password=#{password}
    </select>

    <update id="updateIcon" parameterType="int">
        update user_info
        set
        img_url=#{IconImg}
        where id=#{IconImg}
    </update>
</mapper>

