<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.computershop.mapper.UserAddressMapper">

    <resultMap type="userAddress" id="UserAddressResult">
        <id property="id" column="id"/>
        <result property="cel_phone" column="cel_phone"/>
        <result property="contact_name" column="contact_name"/>
        <result property="big_address" column="big_address"/>
        <result property="detail_address" column="detail_address"/>
        <result property="user_id" column="user_id"/>
        <result property="is_default" column="is_default"/>
        <result property="updateTime" column="updateTime"/>
        <result property="createTime" column="createTime"/>
        <result property="isDelete" column="isDelete"/>

    </resultMap>


    <select id="findOneByID" resultMap="UserAddressResult">
    SELECT * FROM user_address_info  WHERE id=#{user_address_id}
    </select>

    <select id="findAllByUid" resultMap="UserAddressResult">
    SELECT * FROM user_address_info  WHERE user_id=#{uid} ORDER BY FIELD(is_default,'true','false')
    </select>

    <insert id="insert" parameterType="userAddress" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_address_info(contact_name,cel_phone,big_address,detail_address,create_time,update_time,user_id)
        VALUES(#{contact_name},#{cel_phone},#{big_address},#{detail_address},#{createTime},#{updateTime},#{user_id})
    </insert>

    <delete id="delete" parameterType="int">
        delete from user_address_info where id=#{id}
    </delete>

    <update id="update" parameterType="userAddress">
        update user_address_info
        set
        contact_name=#{contact_name},cel_phone=#{cel_phone},big_address=#{big_address},detail_address=#{detail_address},update_time=#{updateTime},user_id=#{user_id}
        where id=#{id}
    </update>
</mapper>

